// font-family: 'Plus Jakarta Sans',sans-serif;

@font-face {
  font-family: 'HeliosExtC';
  src: url("../fonts/HeliosExtC-Bold.woff2");
}

@font-face {
  font-family: 'HeliosBlackC', sans-serif;
  src: url("../fonts/HeliosBlack.ttf");
}
@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url("../fonts/Gilroy-Regular.woff2");
}
@font-face {
  font-family: 'Mandatory', sans-serif;
  src: url("../fonts/MandatoryPlaything.otf");
}

body {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  overflow-x: hidden;
}

[class*=__container] {
  max-width: 1640px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  color: inherit;
}

.lock {
  overflow: hidden;
}

.button {
  font-size:18px;
  font-family: 'HeliosBlackC', sans-serif;
  font-weight: 900;
  display: block;
  padding: 20px 0 24px;
  background: linear-gradient(99deg, #7A42F4 0%, #4642F4 100%);
  width: 209px;
  text-align: center;
  border-radius: 6px;
  transition: background 300ms linear;

  &:hover {
    background: linear-gradient(270deg, #7A42F4 0%, #4642F4 100%);
  }

  &::before {

  }

  @include media-breakpoint-down(xxs) {
    width: 188px;
    font-size: 16px;
    // padding: 14px 0;
    padding: 0;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section__subtitle {
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 19px;

  @include media-breakpoint-down(xs) {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.section__title {
  font-family: HeliosExtC;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;

  @include media-breakpoint-down(xs) {
    font-size: 28px;
    margin-bottom: 39px;
  }
}


// background: linear-gradient(180deg, rgba(36, 10, 92, 0.63) 8.97%, rgba(36, 11, 88, 0.30) 100%);

// backdrop-filter: blur(150px);
