.about-us {
  padding: 245px 0 203px;
  background-image: url("../images/about-us/about-us-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10px;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    background-position: center;
  }

  @include media-breakpoint-down(sm) {
    background-image: none;
    background-color: #01001F;
    padding-top: 0;
    padding-bottom: 85px;
  }

  @include media-breakpoint-down(xs) {
    padding-bottom: 76px;
  }

  &__img-block {
    @include media-breakpoint-down(xs) {
      margin-bottom: 57px;
    }
  }

  &__img {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
      // margin-bottom: 31px;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%
    }

  }

  &__container {
    max-width: 1640px;
    position: relative;

    @include media-breakpoint-down(xs) {
      padding: 0 0 0 23px;
    }
  }
  
  &__content {
    display: flex;
    // gap: 60px;
    position:relative;
    padding-top: 70px;
    padding-left: 62px;
    padding-bottom: 13px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 62px;
      background-color: #56FFEB;
      box-shadow: 0px 4px 13px 0px rgba(191, 58, 255, 0.44);
      height: 100%;
      width: 6px;
    }

    @include media-breakpoint-down(sm) {
      align-items: center;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 15px;
      padding-left: 29px;
      padding-bottom: 9px;
    }
  }

  &__inner {
    overflow: hidden;
    // padding-top: 70px;

    // @include media-breakpoint-down(xxs) {
    //   padding-top: 57px;
    // }
  }

  // &__content-line {
  //   border-radius: 62px;
  //   background-color: #56FFEB;
  //   box-shadow: 0px 4px 13px 0px rgba(191, 58, 255, 0.44);
  //   height: 585px;
  //   width: 6px;
  
  //   @include media-breakpoint-down(xxs) {
  //     height: 562px;
  //     margin-top: 30px;
  //   }
  // }

  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 140%;
    margin-bottom: 14px;
    margin-left: 3px;

    @include media-breakpoint-down(xs) {
      font-size: 16px;
      margin-bottom: 17px;
    }
  }

  &__title {
    font-family: 'HeliosExtC';
    font-size: 45px;
    line-height: 109%;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 3px;

    @include media-breakpoint-down(xs) {
      font-size: 28px;
      margin-bottom: 48px;
    }

    // @include media-breakpoint-down(xxs) {
    //   margin-bottom: 47px;
    // }
  }

  &__slider {
    max-width: 612px;
  }

  &__slider .swiper-scrollbar {
    background-color: rgba(255,255,255,0.4);
    // background-color: red;
    position: relative;
    width: 406px;
    margin-left: 12px;
    margin-bottom: 18px;
    height: 1px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      background-image: url("../images/about-us/slider-circle.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 30px;
      height: 30px;
      top: -14px;
      left: -18px;

      @include media-breakpoint-down(xs) {
        left: -4px;
        background-image: url("../images/about-us/slider-circle-2.svg");
        // display: none;
      }
    }

    @include media-breakpoint-down(xs) {
      height: 0.86px;
      margin-left: 0;
    }
  }

  &__slider .swiper-pagination {
    font-family: HeliosExtC;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    text-transform: uppercase;
    display: flex;
    max-width: 406px;
    // margin-left: 30px;
    position: static;
    

    @include media-breakpoint-down(xs) {
      font-size: 16px;
    }
  }

  &__slider .swiper-pagination-current {
    text-align: left;
    margin-right: 4px;

    @include media-breakpoint-down(xs) {
      margin-right: 12px;
    }
  }
  &__slider .swiper-pagination-total {
    margin-left: auto;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__slider .swiper-scrollbar-drag {
    background-color: #7F5CFF;
    // background-color: #51378b;
    height: 6px;
    top: -3px;

    @include media-breakpoint-down(xs) {
      height: 3.5px;
      top: -2px;
      left: 23px;
    }

  }

  &__slide {
    // max-width: 612px;
  }

  &__text {
    max-width: 612px;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    color: rgba(255,255,255,0.8);
    margin-bottom: 83px;

    @include media-breakpoint-down(xs) {
      font-size: 16px;
      margin-bottom: 39px;
      line-height: 163%;
    }

    @include media-breakpoint-down(xxs) {
      
    }
  }

  &__lines {
    // display: none;
    position: absolute;
    top: 20px;
    left: 0;

    @include media-breakpoint-down(sm) {
      top:44px;
    }
  }

  &__blur-first {
    width: 789.738px;
    height: 562.046px;
    transform: rotate(30deg);
    border-radius: 789.738px;
    opacity: 0.36;
    background-color: red;
    position: absolute;
    top: 0;
    left: -20%;
    -webkit-filter: blur(218px);
    filter: blur(218px);
    background: linear-gradient(0deg, #7476ED 0%, #7476ED 100%);

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__blur-second {
    width: 859.184px;
    height: 372.671px;
    border-radius: 859.184px;
    opacity: 0.5;
    // background-color: red;
    background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    position: absolute;
    transform: rotate(-30deg);
    -webkit-filter:blur(218px);
    filter: blur(218px);
    right: -30%;
    bottom: 0;

    @include media-breakpoint-down(xs) {
      width: 390px;
      height: 169px;
      border-radius: 390px;
      -webkit-filter: blur(98px);
      filter: blur(98px);
      right: -20%;
      bottom: 10%;
    }

    // @include media-breakpoint-down(xxs) {
    //   width: 390px;
    //   height: 169px;
    //   right: -50%;
    //   bottom: 2%;
    // }
  }

  &__blur-third {
    display: none;
    @include media-breakpoint-down(xs) {
      display: block;
      width: 350.017px;
      height: 466px;
      transform: rotate(-39.234deg);
      border-radius: 466px;
      background: #130528;
      -webkit-filter: blur(50px);
      filter: blur(50px);
      position: absolute;
      // background-color: red;
      top: 0;
      left: 10%;
      top:20%;
      z-index: -1;
    }
  }
}