.brands {
  padding: 112px 0 135px;
  position: relative;
  overflow: hidden;
  
  @include media-breakpoint-down(xs) {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    &_black {
      background-color: #090812;
      z-index: -10;
    }

    &_blue {
      background: linear-gradient(180deg, rgba(36, 10, 92, 0.63) 8.97%, rgba(36, 11, 88, 0.30) 100%);
      -webkit-filter: blur(150px);
      filter: blur(150px);
      z-index: -9;
    }
  }

  &__container {
    max-width: 1670px;
  }

  &__subtitle {
    margin-bottom: 21px;
    margin-left:48px;

    @include media-breakpoint-down(l) {
        margin-left: 0;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 3px;
      margin-bottom: 19px;
    }
  }

  &__title {
    margin-bottom: 95px;
    margin-left: 17px;

    @include media-breakpoint-down(l) {
      margin-left: 0;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 2px;
      margin-bottom: 73px;
    }
  }

  &__cards-box {
    display: flex;
    justify-content: space-between;
    padding: 0 126px 0 155px;
    
    @include media-breakpoint-down(l) {
      padding: 0;
    }

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }

    @include media-breakpoint-down(xs) {
      gap: 46px;
    }
  }

  &__card-photo-box {
    position: relative;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 385px;
    // position: relative;

    &:nth-child(2) {
      @include media-breakpoint-down(xs) {
        margin-bottom: 3px;
      }
    }

    &:nth-child(3) {
      margin-left: 10px;

      @include media-breakpoint-down(xs) {
        margin-left: 0;
      }
    }

    &:first-child .brands__card-img {
      margin-bottom: 59px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 51px;
      }
    }


    &:nth-child(3) .brands__card-img {
      margin-bottom: 54px;
      margin-right: 20px;
    }

    &:nth-child(3) .brands__card-title {
      margin-bottom: 30px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 17px;
      }
    }
 
    @include media-breakpoint-down(xs) {
      max-width: 350px;
    }
  }

  &__card-img {
    margin-bottom: 64px;

  }

  &__card-line {
    width: 385px;
    height: 6px;
    border-radius: 48px;
    margin-bottom: 46px;
    position: relative;

    &_first {
      background: #06D6DF;
      box-shadow: 0px 0px 4px 0px rgba(56, 219, 255, 0.50);
    }

    &_second {
      background: #7B71EE;
      box-shadow: 0px 0px 4px 0px rgba(56, 219, 255, 0.50);
    }

    &_third {
      background: #F00AFE;
      box-shadow: 0px 0px 4px 0px rgba(56, 219, 255, 0.50);
    }

    @include media-breakpoint-down(xs) {
      width: 350px;
      margin-bottom: 31px;
    }
  }

  &__card-line-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 202px;
    left: 0;
    border-radius: 1px;
    transform: rotate(180deg);
    z-index: -8;
    background: linear-gradient(359deg, rgba(56, 219, 255, 0.14) 0.58%, rgba(56, 219, 255, 0.00) 42.57%);
   
  }

  &__card-title {
    font-family: 'HeliosExtC';
    text-align: center;
    max-width: 308px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 7px;
    line-height: 140%;

    @include media-breakpoint-down(xs) {
      margin-bottom: 15px;
    }
  }

  &__card-text {
    font-size: 18px;
    font-weight: 300;
    color: rgba(255,255,255,0.6);
    text-align: center;
    line-height: 160%;
    letter-spacing: 0.18px;

    @include media-breakpoint-down(xs) {
      max-width: 350px;
    }
  }

  &__card-decor-first {
    // width: 711.499px;
    // height: 502.033px;
    // background-color: red;
    position: absolute;
    top: -60%;
    left: -60%;
    // background: linear-gradient(114deg, #4462FF 23.53%, #56FFEB 64.93%);
    // filter: blur(85px);
    opacity: 0.4;
    z-index: -6;
  }

  &__card-decor-second {
    position: absolute;
    top: 0;
    z-index: -5;
    opacity: 0.4;
    top: -53%;
    left: -100%;
  }

  &__card-decor-third {
    position: absolute;
    z-index: -6;
    top:-64%;
    left:-60%;
    opacity: 0.4;
  }

  &__card-decor-fourth {
    position: absolute;
    // background: linear-gradient(180deg, rgba(235, 34, 201, 1) 0%, rgba(201, 17, 130, 1) 100%);
    // filter: blur(1--px);
    z-index: -6;
    right: -38%;
    top: -10%;
    opacity: 0.4;
    width: 579px;
    height: 436px;
    background: #FF18F6;
    filter: blur(85px);
    transform: matrix(0.07, -1, -0.97, -0.25, 0, 0);
    // filter: blur(85px);
    // width: 100%;
    // height: 100%;

    @include media-breakpoint-down(xs) {
      top: 14%;
    }
  }

  &__lines-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -7;
    object-fit: cover;
  }
}