.resourses {
  padding: 65px 0 318px;
  position: relative;
  font-family: 'Gilroy', sans-serif;
  // overflow: hidden; 
  z-index: 1;
  position: relative;

  @include media-breakpoint-down(xs) {
    padding-top: 82px;
  }

  &__bg-black {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #090812;
    z-index: -10;
  }

  &__subtitle {
    margin-right: 11px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 24px;

    @include media-breakpoint-down(xxs) {
      margin-right: 0;
      margin-left: 18px;
      margin-bottom: 16px;
    }
  }

  &__title {
    margin-left: 28px;
    margin-bottom: 150px;

    @include media-breakpoint-down(xs) {
      margin-left: 18px;
      margin-bottom: 65px;
    }
  }

  &__inner {
    display: flex;
    padding-left: 10px;

    @include media-breakpoint-down(lg) {
      flex-direction: column-reverse;
      align-items: center;
    }
    
  }

  &__content {
    max-width: 816px;
    display: flex;
    // align-items: center;
    position: relative;
    margin-right: 170px;
    // overflow:hidden;

    &::after {
        content: '';
        position: absolute;
        width: 46px;
        height: 46px;
        background-image: url("../images/resourses/plain.svg");
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 78px;
        left: 144px;

        @include media-breakpoint-down(l) {
          left: 10px;
        }

        @include media-breakpoint-down(xs) {
          bottom: 20px;
        }

        @include media-breakpoint-down(xxs) {
          left:85%;
          bottom: 29px;
        }
      }

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin: 0 auto;
    }

    @include media-breakpoint-down(xs) {
      // overflow-x: hidden;
    }

  }

  &__content-line {
    height: 537px;
    width: 6px;
    border-radius: 41px;
    background: #BF3AFF;
    box-shadow: 0px 0px 17px 0px rgba(191, 58, 255, 0.40);
    margin-right: 107px;
    

    @include media-breakpoint-down(md) {
      margin-right: 50px;
    }

    @include media-breakpoint-down(xs) {
      margin-right: 2px;
    }
  }

  &__content-info {
    max-width: 566px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 67px;
    margin-left: 22px;
    position: relative;


    @include media-breakpoint-down(md) {
      margin-top: 10px;
    }

    @include media-breakpoint-down(xs) {
      align-items: flex-start;
      max-width: 310px;
      margin-top: 38px;
    }
    
  }

  &__content-logo {
    margin-bottom: 41px;
    margin-left: 7px;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(xs) {
      width: 40px;
      height: 40px;
      margin-left: 0;
      margin-bottom: 33px;
    }
    
  }

  &__content-title {
    font-family: 'HeliosExtC';
    font-size: 35px;
    text-transform: uppercase;
    line-height: 109%;
    margin-bottom: 27px;

    @include media-breakpoint-down(md) {
      font-size: 30px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 24px;
      margin-bottom: 28px;
    }
  }

  &__content-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
    color: rgba(255, 255, 255, 0.70);
    margin-bottom: 70px;
    max-width: 560px;

    @include media-breakpoint-down(xs) {
      text-align: left;
      margin-bottom: 62px;
      font-size: 16px;
    }
  }

  &__content-button {
    margin: 0 104px 0 auto;
    // padding: 16px 24px;
    width: 254px;

    @include media-breakpoint-down(xs) {
      font-size: 18px;
    }
  }

  &__content-lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -8;
  }

  &__content-decor {
    position: absolute;
    top: -30%;
    left: -56%;
    z-index: -9;

    @include media-breakpoint-down(lg) {
      // transform: rotate(270deg);
      display: none;
    }
  }

  &__advant{
    position: relative;
    min-width: 807px;
    max-width: 807px;
    top:-26px;
    right: -10px;
    
    @include media-breakpoint-down(l) {
      min-width: 790px;
    }

    @include media-breakpoint-down(md) {
      min-width: 0;
      width: 550px;
      margin: 0 auto 66px;
    }

    @include media-breakpoint-down(sm) {
      width: 400px;
    }

    @include media-breakpoint-down(xs) {
      width: 370px;
      margin-bottom: 36px;
    }

  }

  &__advant-img {
    position: absolute;
    z-index: -7;

    @include media-breakpoint-down(sm) {
      left: 0;
      width: 400px;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      top: 0;
      left: -24px;
    }
  }

  &__advant-decor {
    position: absolute;
    z-index: -8;
    top: -25%;
    left: -18%;
    opacity: 0.4;

    @include media-breakpoint-down(sm) {
      top: -50%;
      left: -54%;
    }
  }

  &__advant-list {
    display: flex;
    flex-direction: column;
  }

  &__advant-list-container {
    display: flex;
    justify-content: flex-start;

    &:first-child {
      margin-left:115px;
      margin-bottom: 60px;
      margin-top:63px;
      gap:10px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-bottom: 0;
      }

      @include media-breakpoint-down(xxs) {
        position: relative;
        top: -23px;
        left: 48px;
      }
    }

    &:nth-child(2) {
      align-self: self-end;
      margin-right: 96px;
      margin-bottom: 154px;
      gap: 10px;

      @include media-breakpoint-down(md) {
        position: relative;
        margin-right: -45px;
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }

      @include media-breakpoint-down(xs) {
        top: 16px;
        right: 48px;
        margin-bottom: 109px;
      }
    }

    &:nth-child(3) {
      align-self: self-end;
      margin-right: 79px;
      gap:10px;

      @include media-breakpoint-down(md) {
        position: relative;
        margin-right: -45px;
      }

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }

      @include media-breakpoint-down(xxs) {
        margin-right: 45px;
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }

    &:nth-child(4) {
      flex-direction: column;
      margin-left:13px;
      margin-top:10px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-top: 0;
      }

      @include media-breakpoint-down(xs) {
        margin-left: -16px;
        margin-bottom: 5px;
      }
    }

    
  }

  &__advant-list-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(xs) {
      font-size: 12.685px;
    }

    &_second {
      @include media-breakpoint-down(md) {
        order: -1;
      }

      @include media-breakpoint-down(xs) {
        align-items: flex-end;
        
      }
    }

    &_third {

      @include media-breakpoint-down(md) {
        order:-1;
      }

      @include media-breakpoint-down(xxs) {
        align-items: flex-end;
        
      }
    }

    &_last {
      margin-top:17px;
      margin-left:8px;

      @include media-breakpoint-down(xxs) {
        margin-top: 10px;
        margin-left: 5px;
      }
    }
  }

  &__advant-list-img {
    @include media-breakpoint-down(xs) {
      width: 31px;
      height: 31px;
    }
  }

  &__adv-buble-second {
    position: absolute;
    left: 5.5%;
    top: 42%;

    @include media-breakpoint-down(xs) {
      left: 1%;
      top: 181px;
      width: 40px;
      height: 40px;
    }
  }

  &__adv-buble-first {
    right:43%;
    top:19%;
    position: absolute;
    width: 95px;
    height: 95px;

    @include media-breakpoint-down(md) {
      right: 18%;
    }

    @include media-breakpoint-down(md) {
      right: 20%;
      top: 12%;
    }

    @include media-breakpoint-down(xs) {
      left: 55.5%;
      top: 90px;
      width: 59px;
      height: 59px;
    }
  }

  &__adv-buble-third {
    position: absolute;
    bottom: 22%;
    right: 63%;

    @include media-breakpoint-down(xs) {
      left: 36%;
      top: 294px;
      width: 30px;
      height: 30px;
    }
  }

  &__decor-mobile {
    display: none;

    @include media-breakpoint-down(lg) {
      width: 1029.045px;
      height: 453.996px;
      border-radius: 1029.045px;
      opacity: 0.34;
      background: var(--1, linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%));
      filter: blur(168.28668212890625px);
      display: block;
      transform: rotate(-90deg);
      position: absolute;
      top: 28%;
      z-index: -9;
    }
  }

}