.social {
  padding: 140px 0 450px;
  position: relative;

  @include media-breakpoint-down(xs) {
    padding-top: 46px;
    padding-bottom: 67px;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -4;
  }

  &__container {
    position: relative;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }

    @include media-breakpoint-down(xs) {
      padding-left: 30px;
    }
  }

  &__subtitle {
    margin-left:12px;
    margin-bottom: 12px;

    @include media-breakpoint-down(xs) {
      margin-left: -24px;
      margin-bottom: 15px;
    }
  }

  &__title {
    margin-left: 18px;
    margin-bottom: 80px;

    @include media-breakpoint-down(xs) {
      margin-right: 44px;
      margin-bottom: 48px;
    }
  }

  &__slider {
    max-width: 1160px;
  }

  &__swiper-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__swiper-slide {
    position: relative;

    &_first {
      top: -10px;
      left: 30px;

      @include media-breakpoint-down(xs) {
        top: 0;
        left: 0;
      }
    }

    &_second {
      left:19px;
      @include media-breakpoint-down(xs) {
        top: 6px;
        left: 0;
      }
    }

    &_third {
      left:10px;

      @include media-breakpoint-down(xs) {
        top: 0;
        left: 0;
      }
    }
  }

  &__slider-img {
    @include media-breakpoint-down(sm) {
      width: 203px;
    }
  }

  &__decor-first{
    width: 852px;
    height: 705px;
    transform: rotate(-151deg);
    border-radius: 852px;
    opacity: 0.33;
    background: linear-gradient(96deg, #00DBDE 25.39%, #FC00FF 84.84%);
    -webkit-filter: blur(218px);
    filter: blur(218px);
    position: absolute;
    top: 50%;
    left: -16%;
    z-index: -2;
  }

  &__cards-decor-first {
    position: absolute;
    top: -50%;
    left: -11%;
    z-index: -3;
  }

  &__decor-discord-viol{
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: -4;
    width: 487px;
    height: 604px;
    border-radius: 604px;
    opacity: 0.6;
    background: var(--1, linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%));
    -webkit-filter: blur(218px);
    filter: blur(218px);
  }

  &__decor-discord-bl{
    width: 568px;
    height: 603px;
    border-radius: 604px;
    position: absolute;
    right: 20%;
    top: 0%;
    opacity: 0.6;
    z-index: -4;
    background-color: red;
    background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    -webkit-filter: blur(218px);
    filter: blur(218px);
    z-index: -5;
  }
}