.team {
  padding: 135px 0 250px;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(l) {
    padding-bottom: 200px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 100px;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 27px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -6;
  }

  &__container {
    max-width: 1715px;
  }

  &__subtitle {
    margin-left:36px;
    font-size: 19px;
    margin-bottom: 20px;

    @include media-breakpoint-down(xs) {
      font-size: 16px;
      margin-left: 5px;
      margin-bottom: 17px;
    }
  }

  &__title {
    margin-bottom: 37px;
    margin-left: 39px;

    @include media-breakpoint-down(xs) {
      margin-left: 4px;
      margin-bottom: 46px;
    }
  }


  &__card-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 225px;
    padding-right: 80px;
    position: relative;

    @include media-breakpoint-down(l) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      padding-right: 0;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
      row-gap: 40px;
      margin-bottom: 100px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 54px;
    }
  }

  &__card-decor-first {
    position: absolute;
    width: 790px;
    height: 562px;
    transform: rotate(30deg);
    border-radius: 789px;
    opacity: 0.2;
    background: linear-gradient(0deg, #7476ED 0%, #7476ED 100%);
    -webkit-filter: blur(218px);
    filter: blur(218px);
    top: -13%;
    left: -35%;

    @include media-breakpoint-down(l) {
      top:50%;
      left: 0;
    }

    @include media-breakpoint-down(sm) {
      left: -40%;
    }

    @include media-breakpoint-down(xs) {
      top: 29%;
      left: -100%;
    }
  }

    // /* Ellipse 241 */
  
    // position: absolute;
    // width: 558.36px;
    // height: 562.05px;
    // left: -31.01px;
    // top: 688.19px;
  
    // background: linear-gradient(0deg, #7476ED, #7476ED);
    // mix-blend-mode: color-dodge;
    // opacity: 0.5;
    // filter: blur(218px);
    // transform: matrix(0.87, 0.5, 0.5, -0.87, 0, 0);

  &__card-decor-second {
    width: 558px;
    height: 562px;
    transform: rotate(30deg);
    position: absolute;
    border-radius: 562px;
    opacity: 0.9;
    background: linear-gradient(0deg, #7476ED 0%, #7476ED 100%);
    mix-blend-mode: color-dodge;
    -webkit-filter: blur(218px);
    filter: blur(218px);
    top: 0%;
    left: -6%;

    @include media-breakpoint-down(sm) {
      top: 15%;
      left: -35%;
    }

    @include media-breakpoint-down(xs) {
      width: 369px;
      height: 498px;
      transform: rotate(23deg);
      -webkit-filter: blur(111px);
      filter: blur(111px);
      top:4%;
      left:-50%;
    }
  }

  &__card-decor-third {
    position: absolute;
    width: 851px;
    height: 705px;
    top: -50%;
    right: -9%;
    border-radius: 851.178px;
    opacity: 0.7;
    background: var(--1, linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%));
    -webkit-filter: blur(218px);
    filter: blur(218px);
    z-index: -5;

    @include media-breakpoint-down(l) {
      top: 23%;
      right: 0;
    }

    @include media-breakpoint-down(sm) {
      top:-10%;
      right: -10%;
      width: 665px;
      height: 550px;
    }
  }

  &__card-decor-first-mobile {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
      width: 572px;
      height: 650px;
      opacity: 0.6;
      background: var(--1, linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%));
      -webkit-filter: blur(115px);
      filter: blur(115px);
      border-radius: 572px;
      position: absolute;
      right: -25%;
      bottom: 12%;
      z-index: -4;
    }

    @include media-breakpoint-down(xs) {
      right: -80%;
      bottom: 19%;
    }
  }

  &__card-decor-second-mobile {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
      width: 279px;
      height: 377px;
      transform: rotate(81deg);
      border-radius: 279px;
      position: absolute;
      bottom: 0%;
      left: 0%;
      opacity: 0.5;
      background: linear-gradient(0deg, #7476ED 0%, #7476ED 100%);
    
      mix-blend-mode: color-dodge;
      -webkit-filter: blur(84px);
      filter: blur(84px);
      z-index: -4;
    }

    @include media-breakpoint-down(xs) {
      bottom: -4%;
      left: -20%;
    }
  }

  &__card-decor-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -2;
    background: rgba(0, 0, 0, 0.20);
    mix-blend-mode: color-dodge;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &_first {
      @include media-breakpoint-down(sm) {
        right: 20px;
      }
    }

    &_second {
      bottom: -39px;
      right: 52px;

      @include media-breakpoint-down(l) {
        bottom: 0;
        right: 0;
      }

      @include media-breakpoint-down(xs) {
        margin-top: 23px;
      }
    }

    &_third {
      top:143px;
      right: 24px;

      @include media-breakpoint-down(sm) {
        top: 0;
        right: 0;
      }

      @include media-breakpoint-down(xs) {
        margin-top: 10px;
      }
    }

    &_fourth {
      top: 42px;

      &::after {
        content: '';
        position: absolute;
        bottom: 12%;
        right: 40%;
        width: 46px;
        height: 46px;
        background-image: url("../images/team/plain.svg");
        z-index: 0;

        @include media-breakpoint-down(sm) {
          bottom: 28%;
          right: 33%;
        }

        @include media-breakpoint-down(xs) {
          right: 25.5%;
        }
      }

      @include media-breakpoint-down(sm) {
        top: 0;
      }

      @include media-breakpoint-down(xs) {
        margin-top: 21px;
      }
    }
  }

  &__card_first .team__card-img {
    margin-bottom: 18px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }
  }

  &__card_third .team__card-img {
    margin-bottom: 32px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 36px;
    }
  }

  &__card_third .team__card-prof {
    margin-right: 18px;
  }

  &__card_third .team__card-name {
    margin-right: 14px;
  }

  &__card_second .team__card-img {
    margin-bottom: 29px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 33px;
    }
  }

  &__card_fourth .team__card-img {
    position: relative;
    margin-bottom: 29px;
  }

  &__card picture {
    @include media-breakpoint-down(sm) {
      order: -1;
    }
  }

  &__card-socials {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-left: 32px;
  }

  &__card-social {
    width: 49px;
    height: 49px;
    cursor: pointer;
    fill: white;

    &:hover {
      fill: #FC00FF;
    }
  }

  &__card-prof {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: rgba(255,255,255,0.7);

    &_first {
      color: rgba(255,255,255,1);
      margin-left: 45px;

      @include media-breakpoint-down(xs) {
        margin-left: 23px;
        margin-bottom: 3px;
      }
    }

    &_fourth {
      margin-right: 42px;

      @include media-breakpoint-down(xs) {
        margin-right: 12px;
      }
    }
  }

  &__card-name {
    text-align: center;
    font-family: HeliosExtC;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    
    text-transform: uppercase;

    &_first {
      color: #56FFEB;
      margin-left: 10px;
      margin-left: 37px;
      margin-bottom: 15px;

      @include media-breakpoint-down(xs) {
        margin-left: 25px;
        margin-bottom: 10px;
      }
    }

    &_second {
      color: #2C4DFF;
      margin-bottom: 20px;
    }

    &_third {
      color: #BF3AFF;
    }

    &_fourth {
      color: #FB41FF;
      margin-right: 42px;
      margin-bottom: 10px;

      @include media-breakpoint-down(xs) {
        margin-right: 0;
      }
    }
  }

  &__run-string {
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.57);
    display: flex;
    gap: 20px;
    width: 120%;
    flex-wrap: nowrap;
    transform: rotate(6.016deg);
    position: relative;
    left: -20px;
  }

  &__run-string_animated .team__run-string-text {
    animation: bottom-run 5s infinite linear;
  }

  &__run-string-text {
    display: flex;
    align-items: center;
    gap:20px;
    font-family: HeliosExtC;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.72px;
    white-space: nowrap;
    // animation: bottom-run 5s infinite linear;

    &_animated {
      animation: bottom-run 5s infinite linear;
    }

    &_first {
      background: var(--2, linear-gradient(90deg, #21FCFF 0%, #FD40FF 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &_second {
      background: var(--2, linear-gradient(270deg, #21FCFF 0%, #FD40FF 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 33px;
    }

  }

  @keyframes bottom-run {
    0% {
      transform: translateX(calc(-100% - 1300px));
    }

    100% {
      transform: translateX(0%);
    }
  }

  .team__run-string-text svg {
    transform: rotate(-6.06deg);

    @include media-breakpoint-down(xs) {
      width: 23px;
      height: 23px;
    }
  }

  &__run-string-svg {
    width: 46px;
    height: 46px;

    @include media-breakpoint-down(xs) {
      width: 23px;
      height: 23px;
    }
  }

}